.no-margin-padding{
    margin: 0px;
    padding: 0px;
}
.no-padding-left {
    padding-left: 0px;
}

.room-content {
    padding: 30px 0px;
    margin: 0px;
}
.room-form{
    padding-top: 40px;
    padding-right: 0px;
}

.col-md-3 {
    padding-right: 0px;
}

.panel-body{
    padding-bottom: 50px;
}

.question-padding{
    padding:20px;
}
.appending-top-padding {
    padding-left:0px;
    padding-top:10px;

}
.margin-top-bottom-15{
    margin-top:15px;
    margin-bottom:15px;
}

.submit-btn-width{
    width: 200px;
}

#appendinput .col-md-11{
    padding-left :0px;

}

