#welcomePage-logo {
    width: 90%;
    height: 100%;
}

.welcomePanelBody {
    text-align: center;
    background-color: darkturquoise;
}

.inline {
    display: inline-block;
    text-align: center;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 165px;
    height: 165px;
    padding: 10px 16px;
    font-size: 20px;
    line-height: 1.33;
    border-radius: 90px;
    left: 75px;
    top: 100px;
}

@media only screen and (max-width: 991px) {
    .hide-on-small {
        display:none;
    }
    .hide-on-large {
        display:block;
    }
}

@media only screen and (max-width: 360px) {
    .btn-circle.btn-lg {
        width: 30%;
        height: 30%;
        padding: 10px 16px;
        font-size: 15px;
        line-height: 1.33;
        border-radius: 15px;
        left: 75px;
        top: 100px;
    }
    .hide-on-small {
        display:none;
    }
    .hide-on-large {
        display:block;
    }
}

@media only screen and (min-width: 992px) {
    .hide-on-small {
        display:block;
    }
    .hide-on-large {
        display:none;
    }
}
