.global-bg-color-turquoise {
    background-color: darkturquoise;
}

.global-bg-color-orange {
    background-color: #FABC47;
}

.global-answerSelection-bg-text-color {
    color: white;
    background-color: #FABC47;
}
